@keyframes fadeOut
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}
@keyframes loadingIconWraper
{
	0%
	{
		transform: rotateY(0);
	}
	50%
	{
		transform: rotateY(180deg);
	}
	100%
	{
		transform: rotateY(360deg);
	}
}
@keyframes loadingIconInner
{
	0%
	{
		transform: scale(1, 1);
	}
	50%
	{
		transform: scale(-1, 1);
	}
	100%
	{
		transform: scale(1, 1);
	}
}

@keyframes marquee
{
	0% 
	{ 
		transform: translateX(100%); 
	}
	100% 
	{ 
		transform: translateX(-100%); 
	}
}